#include <Windows.h>

#include "resource.h"

IDR_MAINMENU MENU
BEGIN
	POPUP "&File"
		BEGIN
			MENUITEM "E&xit", IDR_FILE_EXIT
		END
	POPUP "&Edit"
		BEGIN
			MENUITEM "Find", IDR_FIND
		END
	POPUP "O&ptions"
		BEGIN
			MENUITEM "&Configuration", ID_SETTINGS_CONFIG
		END
	POPUP "&Window"
		BEGIN
			MENUITEM "&Log", IDR_WINIRC_LOG
		END
	POPUP "&Help"
		BEGIN
			MENUITEM "&About", ID_HELP_ABOUT
		END
END
							   
IDD_ABOUT DIALOG 0, 0, 180, 64
STYLE DS_SYSMODAL | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
BEGIN
	CTEXT "WinIRC Server v0.1", -1, 5, 5, 160, 20
	CTEXT "(c) 2026 Nicholas Di Girolamo", -1, 5, 15, 160, 20
	CTEXT "This program is licensed under the terms of the 2-clause BSD license.", -1, 5, 25, 172, 20
	CTEXT "https://github.com/di-gital", -1, 5, 35, 160, 20 
	DEFPUSHBUTTON "OK", IDOK, 70, 45, 40, 14
END
				 
IDD_CONFIG DIALOG 0, 0, CONFIG_WIDTH, CONFIG_HEIGHT
STYLE DS_SYSMODAL | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configuration"
BEGIN
	GROUPBOX "Options", ID_OPTIONGROUP, OPTION_MARGIN, OPTION_MARGIN, CONFIG_WIDTH-10, CONFIG_HEIGHT-35 													  
																										  
	LTEXT "Hostname:" ID_HOSTNAME_L, OPTION_MARGIN+5, OPTION_MARGIN+15, 64, 10 
	EDITTEXT ID_HOSTNAME, OPTION_RIGHT, OPTION_MARGIN+15, 64, 10

	LTEXT "Port:", ID_PORT_L, OPTION_MARGIN+5, OPTION_MARGIN+25, 64, 10
	EDITTEXT     ID_PORT,     OPTION_RIGHT, OPTION_MARGIN+25, 64, 10
	
	LTEXT "Max channels:" ID_CHANNELS_L, OPTION_MARGIN+5, OPTION_MARGIN+35, 64, 10
	EDITTEXT ID_CHANNELS, OPTION_RIGHT, OPTION_MARGIN+35, 64, 10 
	
	CHECKBOX "Keep logs:" ID_KEEPLOGS, OPTION_MARGIN+5, OPTION_MARGIN+45, 64, 10
	
	LTEXT "Logfile:" ID_LOGFILE_L,    OPTION_MARGIN+5, OPTION_MARGIN+60, 64, 10
	PUSHBUTTON "Select", ID_LOG_SELECT, OPTION_RIGHT, OPTION_MARGIN+60, 40, 10
	EDITTEXT ID_LOG_FILE, OPTION_RIGHT+40, OPTION_MARGIN+60, 80, 10 
	 					     
	LTEXT "User database:", ID_USERDB_L, OPTION_MARGIN+5, OPTION_MARGIN+70, 64, 10
	PUSHBUTTON "Select", ID_USERDB_SELECT, OPTION_RIGHT, OPTION_MARGIN+70, 40, 10
	EDITTEXT ID_USERDB_FILE,  OPTION_RIGHT+40, OPTION_MARGIN+70, 80, 10 

	DEFPUSHBUTTON "Cancel", ID_CONFIG_CANCEL, CONFIG_WIDTH-105, CONFIG_HEIGHT-20, 50, 15
	DEFPUSHBUTTON "Save", ID_CONFIG_SAVE, CONFIG_WIDTH-55, CONFIG_HEIGHT-20, 50, 15
END

IDD_WINIRC_LOG DIALOG 0, 0, 320, 200
STYLE DS_SYSMODAL | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "WinIRC log"
BEGIN
	LTEXT "blank", ID_WINIRC_LOG_TEXT, 0, 0, 311, 200
	SCROLLBAR ID_LOG_VSCROLLBAR 311, 0, 9, 200, SBS_VERT
END

IDD_USEREDIT DIALOG 0, 0, 128, 88
STYLE DS_SYSMODAL | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit user"
BEGIN
	LTEXT "Nick:", -1, OPTION_MARGIN, OPTION_MARGIN, 16, 10
	EDITTEXT ID_USEREDIT_NICK, OPTION_MARGIN + 16, OPTION_MARGIN, 48, 10
	LTEXT "Username:", -1, OPTION_MARGIN, OPTION_MARGIN + 10, 64, 10
	LTEXT "server", -1, OPTION_MARGIN, OPTION_MARGIN + 20, 64, 10
	LTEXT "Realname:", -1, OPTION_MARGIN, OPTION_MARGIN + 30, 28, 10
	EDITTEXT ID_USEREDIT_RNAME, OPTION_MARGIN + 28, OPTION_MARGIN + 30, 64, 10
	DEFPUSHBUTTON "Reset password", ID_USEREDIT_RESET, OPTION_MARGIN, OPTION_MARGIN + 40, 64, 12
	DEFPUSHBUTTON "Cancel", ID_USEREDIT_CANCEL, OPTION_MARGIN, OPTION_MARGIN + 62, 32, 12
	DEFPUSHBUTTON "Save", ID_USEREDIT_SAVE, OPTION_MARGIN + 32, OPTION_MARGIN + 62, 32, 12
END

IDD_CHANEDIT DIALOG 0, 0, 128, 88
STYLE DS_SYSMODAL | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Edit channel"
BEGIN
	LTEXT "Name:", -1, OPTION_MARGIN, OPTION_MARGIN, 16, 10
	EDITTEXT ID_CHANEDIT_NAME, OPTION_MARGIN + 16, OPTION_MARGIN, 48, 10
	LTEXT "Topic:", -1, OPTION_MARGIN, OPTION_MARGIN + 10, 64, 10
	EDITTEXT ID_CHANEDIT_TOPIC, OPTION_MARGIN + 20, OPTION_MARGIN + 10, 64, 10
	DEFPUSHBUTTON "Cancel", ID_CHANEDIT_CANCEL, OPTION_MARGIN, OPTION_MARGIN + 62, 32, 12
	DEFPUSHBUTTON "Save", ID_CHANEDIT_SAVE, OPTION_MARGIN + 32, OPTION_MARGIN + 62, 32, 12
END



